<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg bg-dark  navbar-dark">

        <a class="navbar-brand" href="/" style="width:70px;"> @*:/Root*@</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Departments/Index">Departments</a>
                    @*@Html.ActionLink("Departments", "Index", "Departments", new {@class= "nav-link" })*@
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Employees/Index">Employees</a>
                    @*@Html.ActionLink("Employees", "Index", "Employees", new { @class = "nav-link" })*@
                </li>
                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>*@


            </ul>

            @*<div class="toggle-btn" onclick="toggleSideBar()">
                    <span></span>
                    <span></span>
                    <span></span>

                </div>*@

            <div class="my-2 my-lg-3">

                <!--partial view _login-->
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!--partial view _SideBar-->
    @Html.Partial("_SideBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>
        //start toogle sidbar function
        function toggleSideBar() {
            $("#sidebar").toggleClass("active");
            //alert("welcome");
        }// end function
        //togglr submenu
        $("#sub1").hide();
        $("#sub2").hide();
        function toggleSub1() {
            $("#sub1").toggle(400);
        }
        function toggleSub2() {
            $("#sub2").toggle(400);
        }
        //end toggle sub menu
    </script>
</body>
</html>
