@model First6.Models.Employee

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>

        <th>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>

        <td>
            @Html.DisplayFor(model => model.EmployeeName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>

        <td>
            @Html.DisplayFor(model => model.Position)
        </td>

    </tr>

</table>
